# 1. Inventory Price Calculator

In [1]:
def calculate_inventory_summary(prices):
  total_price = 0
  average_price = 0
  for price in prices:
    total_price += price
  average_price = total_price/len(prices)
  return total_price,average_price

In [4]:
total_price,average_price = calculate_inventory_summary([120,250,399,150])
print(f"({total_price},{average_price})")

(919,229.75)

# 2. Unique Visitor Tracker

In [17]:
def count_unique_visitors(visitor_list):
  unique_visitors = len(set(visitor_list))
  return unique_visitors,sorted(set(visitor_list))

In [27]:
unique_visitors,unique_IDs = count_unique_visitors([101,205,101,310,205,550])
print(f"{unique_visitors} ( The unique IDs are",end =" ")
for i in unique_IDs:
  print(i,end=" ")
print(")")

4 ( The unique IDs are 101 205 310 550 )

# 3. Product Category Counter

In [30]:
def count_categories(products):
  categories = {}
  for product in products:
    if product in categories:
      categories[product]+=1
    else:
      categories[product]=1
  return categories

In [31]:
categories = count_categories(['Laptop','Smartphone','Monitor','Laptop','Smartphone','Headphones','Laptop'])
print(categories)

{'Laptop': 3, 'Smartphone': 2, 'Monitor': 1, 'Headphones': 1}

# 4. Temperature Analytics

In [32]:
def analyze_temperatures(temp_list):
  High_temp_list = []
  Normal_temp_list =[]
  for temp in temp_list:
    if temp > 38:
      High_temp_list.append(temp)
    else:
      Normal_temp_list.append(temp)
  return High_temp_list,Normal_temp_list

In [38]:
High_temp_list,Normal_temp_list = analyze_temperatures([36.5,38.0,39.1,37.2,40.5,38.0,37.9])
print(f"High List (>38째C): {High_temp_list}")
print(f"Normal List (<38째C): {Normal_temp_list}")
print(f"Full Output Tuple: ({High_temp_list}, {Normal_temp_list})")

High List (>38째C): [39.1, 40.5]
Normal List (<38째C): [36.5, 38.0, 37.2, 38.0, 37.9]
Full Output Tuple: ([39.1, 40.5], [36.5, 38.0, 37.2, 38.0, 37.9])

# 5. Menu Price Lookup

In [70]:
def get_price(menu,item):
  item = item.capitalize()
  if item in menu:
    print("Item Found")
    return menu[item]
  else:
    return "Item Not Found"

In [72]:
price = get_price({"Coffee": 3.50, "Tea": 2.75, "Muffin": 4.00, "Sandwich": 8.50},"Muffin")
print(price)

Item Found
4.0

In [73]:
price = get_price({"Coffee": 3.50, "Tea": 2.75, "Muffin": 4.00, "Sandwich": 8.50},"Donut")
print(price)

Item Not Found

# 6. Student Grading System

In [34]:
def calculate_grade(score):
  for name in score.keys():
    if score[name] > 100 or score[name] < 0:
      return "Invalid marks! Check the marks again!"
    elif score[name] >=80 and score[name] <= 100:
      score[name] = "A+"
    elif score[name] >=70 and score[name] <= 79:
      score[name] = "A"
    elif score[name] >=60 and score[name] <= 69:
      score[name] = "A-"
    elif score[name] < 40:
      score[name] = "F"
  return score

In [35]:
grade = calculate_grade({"Alice": 85, "Bob": 78, "Charlie": 32, "David": 69})
print(grade)

{'Alice': 'A+', 'Bob': 'A', 'Charlie': 'F', 'David': 'A-'}

# 7. Discount Calculator

In [96]:
def apply_discounts(products):
  price_after_discount = []
  for product in products:
    name, price, discount = product
    price_after_discount.append(price - (price*(discount/100)))
  return price_after_discount

In [97]:
price_after_discount = apply_discounts([("Keyboard", 80.00, 20), ("Mouse", 25.00, 10), ("Monitor", 300.00, 5)])
print(price_after_discount)

[64.0, 22.5, 285.0]

# 8. Hashtag Generator

In [116]:
def generate_hashtags(sentence):
  hashtag_list = []
  words = sentence.split()
  for word in words:
    word = word.lower()
    hashtag_list.append("#" + word)
  return hashtag_list

In [118]:
hashtag_list = generate_hashtags("AI Data Science")
print(hashtag_list)

['#ai', '#data', '#science']

# 9. User Authentication Mock

In [10]:
CREDENTIALS = {"alex_s": "securepwd1", "maria_t": "password101", "john_d": "johndoe123"}
def login(username, password):
  if username in CREDENTIALS and password == CREDENTIALS[username]:
    return "Login Successful"
  elif username in CREDENTIALS and password != CREDENTIALS[username]:
    return "Invalid Credentials\nFailed Login (Wrong Password)"
  else:
    return "Invalid Credentials\nFailed Login (Non-existent User)"

In [11]:
response = login("maria_t", "password101")
print(response)

Login Successful

In [12]:
response = login("alex_s", " securepwd12")
print(response)

Invalid Credentials
Failed Login (Wrong Password)

In [13]:
response = login("peter_z", "any_password")
print(response)

Invalid Credentials
Failed Login (Non-existent User)

# 10. Shopping Cart Bill Calculator

In [22]:
def calculate_total(cart, prices):
  total_amount = 0
  for item in cart:
    item = item.capitalize()
    if item in prices:
      total_amount += prices[item]
    else:
      print(f"{item} is not in prices list.")
  return total_amount

In [23]:
total_amount = calculate_total(["Milk", "Bread", "Milk", "Cheese", "Bread"], {"Milk": 3.00, "Bread": 2.50, "Eggs": 4.00, "Cheese": 5.00})
print(f"(Total Bill Amount): {total_amount}")

(Total Bill Amount): 16.0

In [24]:
total_amount = calculate_total(["Milk", "Bread", "Milk", "Mango", "Bread"], {"Milk": 3.00, "Bread": 2.50, "Eggs": 4.00, "Cheese": 5.00})
print(f"(Total Bill Amount): {total_amount}")

Mango is not in prices list.
(Total Bill Amount): 11.0

In [25]:
total_amount = calculate_total(["Milk", "Bread", "Milk", "Cheese", "bread"], {"Milk": 3.00, "Bread": 2.50, "Eggs": 4.00, "Cheese": 5.00})
print(f"(Total Bill Amount): {total_amount}")

(Total Bill Amount): 16.0